.git
.gitattributes
.github
.gitignore
.idea
.agents
.codex
.junie
.kilo

node_modules
vendor
local_data
var

public/build
public/js/embed.js

test
.phpunit.result.cache
phpunit.xml
phpinsights.php
rector.php

compose.*
AGENTS.md
CHANGELOG.md
README.md
