{% extends 'error/layout.twig' %}

{% block contents %}
    <div class="center-screen">
        <h1 class="error-title">404</h1>
        <p class="error-subtitle">Oups ! La page que vous recherchez est introuvable.</p>
        <a href="/" class="btn btn-primary btn-lg">Retour à l'accueil</a>
    </div>
{% endblock %}
